@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Real-Time Idea Space</h1>
    <p class="lead">Share Your Ideas and Get Real-Time Feedback.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Give Feedback on Ideas</h2>
        <p>
            See the crazy-cool ideas that others are sharing and give them constructive feedback, in real-time.
        </p>
        <p><a class="btn btn-default" href="/Idea">View Ideas &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Share an Idea</h2>
        <p>Share your idea with the community and get real-time feedback to help you take your idea to the next level.</p>
        <p><a class="btn btn-default" href="/Idea/Create">Share &raquo;</a></p>
    </div>
</div>